# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Environment files
backend/.env
frontend/.env

# Builds
frontend/.next/
backend/dist/

# Git
frontend/.git
backend/.git

# Docker
*.log

# IDE / OS
.vscode/
.DS_Store
Thumbs.db